In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import time
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
# 加载ad_static_feature数据
ad_static_feature = pd.read_csv('ad_static_feature.csv')
ad_static_feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497669 entries, 0 to 497668
Data columns (total 7 columns):
ad_id               497669 non-null int64
Creation_time       497669 non-null object
Ad_account_id       497669 non-null int64
Commodity_id        497669 non-null object
Commodity_type      497669 non-null int64
Ad_Industry_Id      497669 non-null int64
Ad_material_size    497669 non-null object
dtypes: int64(4), object(3)
memory usage: 26.6+ MB

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# 读取ad_operation文件
ad_operation_cols = ['ad_id', 'Create_modify_time', 'Op_type', 'Modify_type', 'Op_after']
ad_operation = pd.read_table('testA/ad_operation.dat', sep='\t', header=None,names=ad_operation_cols)
ad_operation_df = pd.DataFrame(ad_operation)
# 删除2月30号的无效数据
ad_operation_df = ad_operation_df[~ad_operation_df['Create_modify_time'].isin([20190230000000])]
ad_operation_df = ad_operation_df[~ad_operation_df['Create_modify_time'].isin([20190229000000])]
# 重置索引
ad_operation_df = ad_operation_df.reset_index(drop=True)
ad_operation_df.head()

,ad_id,Create_modify_time,Op_type,Modify_type,Op_after
0,593323,0,2,2,90
1,593323,0,2,3,all
2,593323,0,2,4,"281474976710655,281474976710655,28147497671065..."
3,593323,20190217000000,1,1,0
4,593323,20190218233855,1,2,90

In [7]:
ad_operation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759574 entries, 0 to 759573
Data columns (total 5 columns):
ad_id                 759574 non-null int64
Create_modify_time    759574 non-null int64
Op_type               759574 non-null int64
Modify_type           759574 non-null int64
Op_after              759574 non-null object
dtypes: int64(4), object(1)
memory usage: 29.0+ MB

In [8]:
# 清洗数据
# 清洗掉在ad_static_feature中不存在的广告id
ad_operation_df = pd.merge(ad_operation_df,ad_static_feature_df.loc[:,['ad_id']],
                           how='inner',on='ad_id')
# 去重
ad_operation_df.drop_duplicates(keep='first', inplace=False).reset_index(drop=True)
ad_operation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 613409 entries, 0 to 613408
Data columns (total 5 columns):
ad_id                 613409 non-null int64
Create_modify_time    613409 non-null int64
Op_type               613409 non-null int64
Modify_type           613409 non-null int64
Op_after              613409 non-null object
dtypes: int64(4), object(1)
memory usage: 28.1+ MB

In [12]:
ad_operation_df.to_csv('ad_operation.csv', index=False)