In [1]:

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import time
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import seaborn as sns
sns.set_style('whitegrid')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# 读取ad_static_feature文件
ad_static_feature_cols = ['ad_id', 'Creation_time', 'Ad_account_id', 'Commodity_id', 
                          'Commodity_type','Ad_Industry_Id', 'Ad_material_size']
ad_static_feature = pd.read_table('testA/ad_static_feature.out', sep='\t', 
                                     header=None,names=ad_static_feature_cols)
ad_static_feature_df = pd.DataFrame(ad_static_feature)
ad_static_feature_df.head()

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ad_id,Creation_time,Ad_account_id,Commodity_id,Commodity_type,Ad_Industry_Id,Ad_material_size
0,106452,1529958950,22226,16088,13,225,NaN
1,233649,1538221936,25681,7356,13,136,1
2,547531,1550731020,20696,-1,1,186,40
3,707841,1551857857,3968,-1,3,186,40
4,457009,1550439402,23614,7447,13,172,NaN

In [3]:
ad_static_feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735911 entries, 0 to 735910
Data columns (total 7 columns):
ad_id               735911 non-null int64
Creation_time       735911 non-null int64
Ad_account_id       735911 non-null int64
Commodity_id        735911 non-null object
Commodity_type      735911 non-null int64
Ad_Industry_Id      735911 non-null object
Ad_material_size    509252 non-null object
dtypes: int64(4), object(3)
memory usage: 39.3+ MB

In [4]:
# 清洗ad_static_feature数据

# 删除素材尺寸为空的数据
ad_static_feature_df = ad_static_feature_df.dropna()
# 删除创建时间为0的数据
ad_static_feature_df = ad_static_feature_df[~ad_static_feature_df['Creation_time'].isin([0])]
# 将时间戳改为时间
ad_static_feature_df['Creation_time'] = ad_static_feature_df['Creation_time'].apply(lambda x:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(x))) 
# 删除广告行业id出现多值数据
ad_static_feature_df = ad_static_feature_df[~ad_static_feature_df['Ad_Industry_Id'].str.contains(',')]
# 重置索引
ad_static_feature_df = ad_static_feature_df.reset_index(drop=True)
ad_static_feature_df.head()

,ad_id,Creation_time,Ad_account_id,Commodity_id,Commodity_type,Ad_Industry_Id,Ad_material_size
0,233649,2018-09-29 19:52:16,25681,7356,13,136,1
1,547531,2019-02-21 14:37:00,20696,-1,1,186,40
2,707841,2019-03-06 15:37:37,3968,-1,3,186,40
3,733436,2019-03-19 14:37:06,22405,31722,5,117,64
4,249105,2019-03-15 17:23:16,11360,29999,18,145,44

In [5]:
ad_static_feature_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497669 entries, 0 to 497668
Data columns (total 7 columns):
ad_id               497669 non-null int64
Creation_time       497669 non-null object
Ad_account_id       497669 non-null int64
Commodity_id        497669 non-null object
Commodity_type      497669 non-null int64
Ad_Industry_Id      497669 non-null object
Ad_material_size    497669 non-null object
dtypes: int64(3), object(4)
memory usage: 26.6+ MB

In [6]:
ad_static_feature_df.to_csv('ad_static_feature.csv', index=False)